body {
  background: linear-gradient(hsl(269, 64%, 80%) 40%, rgb(218, 174, 222) 40%);
  background-size: 100% 100%;
  margin: 0;
  height: 100vh;
  overflow: none;
}
.contextMenu {
  display: none;
  position: fixed;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
}
.contextMenu button {
  display: block;
}
#chatbox {
  background: #99c1be;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #706969;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#messageInput {
  position: fixed;
  left: 80%;
  top: 80%;
  width: 20%;
  height: 50px;
}
.selfBubble, .announcement, .oppBubble {
  max-width: 80%;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 0px;
}
.selfBubble {
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: left;
  align-self: flex-end;
}
.announcement {
  background-color: rgb(206, 139, 139);
  border-radius: 10px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
.oppBubble {
  background-color: rgb(139, 148, 206);
  border-radius: 10px;
  text-align: left;
  margin-right: auto;
}
.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(30, 30, 60, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: fixed;
  z-index: 1000;
  overflow: hidden;
}
#header {
  background: #50a8a0;
  color: white;
  padding: 10px;
  text-align: center;
}
#nameInput {
  width: 100%;
  margin-top: 20px; 
  padding: 10px;
}
#roomId {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
#roomIdInput {
  padding: 10px;
  width: 70%;
}
#copyButton {
  margin: 10px;
  padding: 9px;
}
#generateIdButton {
  padding: 10px;
  width: 20%;
  background: #a89850;
  color: white;
  border: none;
}
#generateIdButton:hover {
  background: #8c7e46; /* Change this color to the hover color you want */
}
#playButton {
  line-height: 60px;
  background: #333;
  color: white;
  text-align: center;
}
#playButton:hover {
  background: #78766e; /* Change this color to the hover color you want */
}
#selfContainers {
  position: fixed;
  border: none;
  bottom: 0;
  width: 80%;
  height: 60%;
}
#oppContainers {
  position: fixed;
  border: none;
  bottom: 60%;
  width: 80%;
  height: 40%;
  transform: scaleX(-1) scaleY(-1);
}
#stadium_html {
  position: fixed;
  bottom: 54%;
  left: 60%;
  width: 8%;
  height: 12%;
  border: 2px solid rgba(123, 123, 118, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#stadium_html img {
  width: auto;
  height: 100%;
}
#lostzoneText {
  position: fixed;
  bottom: 58%;
  left: 20%
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
}
#buttonContainer {
  display: flex;
  position: fixed;
  left: 80%;
  bottom: 5%;
}
#buttonContainer button {
  margin-right: 10px; /* Add margin between buttons */
}