body, input, textarea, button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
  background: white;
  background-size: 100% 100%;
  margin: 0;
  height: 100vh;
  overflow: none;
}
#keybindModal {
  display: none;
  position: fixed;
  width: 70%;
  height: 85%;
  top: 50%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  padding: 0 15px 15px 15px;
  background-color: rgba(200, 200, 200, 0.873); /* Semi-transparent grey background */
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.sections-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.section {
  flex: 1;
}
.column {
  margin-right: 10px;
  padding: 10px;
}
h1 {
  font-size: 2vh; /* Adjust the font size using vw unit */
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  font-size: 1.8vh; /* Adjust the font size using vw unit */
}
.column ul ul {
  margin-left: 10px;
}
.column ul ul li {
  margin-bottom: 1px;
  margin-top: 0;
  font-size: 1.75vh; /* Adjust the font size using vw unit */
}
.column ul li {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}
.self {
  position: fixed;
  border: none;
  bottom: 0;
  width: 75.5%;
  height: 50%;
}
.opp {
  position: fixed;
  border: none;
  bottom: 50%;
  width: 75.5%;
  height: 50%;
  transform: scaleX(-1) scaleY(-1);
}
#stadium_html {
  position: fixed;
  bottom: 42%;
  left: 11%;
  width: 6%;
  height: 16%;
  display: flex; /* Add this */
	justify-content: center; /* Horizontally center-align child elements */
	align-items: center;
}
#stadium_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
}
.base {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  border-radius: 15px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.1); /* Very faint/transparent background */
}
.highlight {
  box-shadow: 0 0 0 2px rgb(236, 236, 110) !important;
  background-color: rgba(228, 255, 119, 0.3);
}
#selfResizer {
  position: fixed;
  left: 75.5%;
  bottom: 49%;
  cursor: row-resize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1vw;
  height: 2%;
  border-radius: 50%;
  transform: translateY(50%);
}
#oppResizer {
  position: fixed;
  left: 75.5%;
  bottom: 51%;
  cursor: row-resize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1vw;
  height: 2%;
  border-radius: 50%;
  transform: translateY(50%);
}
.selfColour {
  background-color: rgba(90, 110, 188, 0.864);
}
.oppColour {
  background-color: rgba(188, 90, 113, 0.864);  
}
.neutralColour {
  background-color: rgba(112, 112, 112, 0.864);  
}
#boardButtonContainer {
  position: fixed;
  height: 6%;
  left: 52%;
  bottom: 47%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#boardButtonContainer button {
  border-radius: 10px; /* Rounded edges */
  font-size: 2vh; /* Adjust font size as needed */
  cursor: pointer;
  background: rgb(231, 228, 228);
  color: rgb(149, 149, 149); /* Text color */
  border: none;
}
#boardButtonContainer button:hover {
  background-color: rgb(117, 117, 117); /* Natural green background color */
  color: rgb(255, 255, 255); /* Text color */
}
#topButtonContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 24%;
  height: 5%;
  display: flex;
  overflow: hidden; /* Ensure buttons don't exceed container width */
  background: rgb(145, 145, 145);
}
#topButtonContainer button {
  padding: 7px 0; /* Adjust padding for button size */
  width: 30%; /* Adjust width to distribute evenly */
  font-size: 1vw; /* Adjust font size as needed */
  cursor: pointer;
  border: none;
}
.selectedPage {
  background: rgb(231, 228, 228);
  color:  rgb(50, 50, 50);
  border-radius: 10px 10px 0 0; /* Rounded edges */
}
.notSelectedPage {
  background: rgb(145, 145, 145);
  color: white;
}
#topButtonContainer button:hover {
  color:  rgb(50, 50, 50);
}
.sidebox {
  background: rgb(231, 228, 228);
  position: fixed;
  right: 0;
  top: 5%;
  width: 24%;
  height: 95%;
  padding: 0.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#chatbox {
  width: 100%;
  height: 85%;
  background: white;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
}
.shift-font {
  font-family: monospace; /* or your preferred coding font */
}
.sidebox-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden; /* Ensure buttons don't exceed container width */
}
.sidebox-button-container button {
  padding: 7px 0; /* Adjust padding for button size */
  width: 23%; /* Adjust width to distribute evenly */
  border-radius: 10px; /* Rounded edges */
  font-size: 2vh; /* Adjust font size as needed */
  cursor: pointer;
  color: white; /* Text color */
  border: none;
}
.sidebox-button-container button:hover {
  background-color: #a4a3a3; /* Darker green on hover */
}
#messageInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the total width */
  border-radius: 10px;
  border: none;
}
#bottomP1ButtonContainer {
  width: 100%;
}
#p2Box {
  display: none;
}
#lobby {
  width: 100%;
  margin-top: 5%;
}
#nameInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the total width */
  border-radius: 10px;
  border: none;
  font-size: 2vh;
}
#roomId {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#roomIdInput {
  padding: 1vh;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 2vh;
}
#copyButton {
  margin: 10px;
  padding: .5vh;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 3vh;
}
.copied {
  background-color: #b7d9b8 !important;
}
#generateIdButton {
  padding: 1vh;
  background: #a89850;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 2vh;
}
#generateIdButton:hover {
  background: #8c7e46; /* Change this color to the hover color you want */
}
#joinRoomButton {
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the total width */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 2.5vh;
}
#joinRoomButton:hover {
  background: #78766e; /* Change this color to the hover color you want */
}
#connectedRoom {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#roomHeader {
  width: 100%;
  height: 3%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  margin-bottom: 10px; /* Adjust margin as needed for spacing */
}
#roomHeaderText {
  margin-right: 5px;
  background-color: #9dd1bd;
  border-radius: 10px;
  width: 98%;
  padding: .5vh;
  font-size: 2vh;
  text-align: center;
}
#roomHeaderCopyButton {
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: .25vh;
  font-size: 2.5vh;
}
#p2Chatbox {
  background: white;
  width: 100%; /* Set to 100% */
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
}
#p2ChatboxButtonContainer {
  width: 100%;
}
#p2MessageInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the total width */
  border-radius: 10px;
  border: none;
}
#p2BottomButtonContainer {
  width: 100%;
}
#deckImport {
  display: none;
}
#settings {
  display: none;
}

/*contextMenu styling*/
.contextMenu button {
  display: block;
}
.contextMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 155px; /* Set a fixed width */
}
.contextMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contextMenu ul li[id$="Header"] {
  padding: 4px;
  cursor: default;
  font-weight: bold;
  background-color: #f0f0f0;
}
.contextMenu > ul > li {
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
}
.contextMenu > ul > li:hover {
  background-color: #f0f0f0;
}
.contextMenu .subMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
  background-color: #fff;
  padding: 8px; /* Added padding */
  border: 1px solid #ccc; /* Added border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Added box-shadow */
  width: 120px; /* Set a fixed width */
}
.contextMenu > ul > li:hover > .subMenu {
  display: block;
}
.contextMenu .subMenu li:hover {
  background-color: #f0f0f0;
}
.contextMenu ul li#moveButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the top border */
  background-color: #333; /* Set the color of the top border */
}

/*chatbox text styling*/
.self-text, .announcement, .opp-text, .self-message, .opp-message {
  word-wrap: break-word;
  display: block;
  font-size: 1.75vh;
  margin: 0.5vh 0 0 0;
  border-radius: 10px;
  padding: 0.25vh 1vh;
}
.announcement {
  background-color: rgb(205, 203, 203);
  text-align: center;
}
.self-message {
  background-color: rgba(142, 155, 209, 0.864);
  text-align: left;
  width: fit-content;
}
.opp-message {
  background-color: rgba(187, 120, 136, 0.864);  
  text-align: left;
  width: fit-content;
}
.self-text {
  background-color: rgba(211, 219, 250, 0.864);
  text-align: left;
  width: fit-content;
}
.opp-text {
  background-color: rgba(247, 217, 223, 0.864);  
  text-align: left;
  width: fit-content;
}



/* .tooltip-btn {
  position: relative;
  cursor: pointer;
}
.tooltip-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.tooltip-btn:hover::after {
  opacity: 1;
  visibility: visible;
} */


