#handText {
  position: fixed;
  left: 2%;
  bottom: 25%;
}
#hand_html {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow-y: auto;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  display: flex; /* Use flexbox to center-align child elements */
  justify-content: center; /* Horizontally center-align child elements */
}
#hand_html img {
  width: auto;
  height: 100%;
}
#deckText {
  position: fixed;
  left: 88%;
  bottom: 91%;
}
#deckDisplay_html {
  position: fixed;
  bottom: 65%;
  left: 88%;
  width: 8%;
  height: 25%;
  user-select: none;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#deckDisplay_html img {
  width: auto;
  height: 100%;
  user-select: none;
} 
#discardText {
  position: fixed;
  left: 88%;
  bottom: 56%;
}
#discardDisplay_html {
  position: fixed;
  bottom: 30%;
  left: 88%;
  width: 8%;
  height: 25%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#discardDisplay_html img {
  width: auto;
  height: 100%;
} 
#benchText {
  position: fixed;
  left: 20%;
  bottom: 55%;
}
#bench_html {
  position: fixed;
  bottom: 30%;
  left: 20%;
  width: 60%;
  height: 25%;
  white-space: nowrap;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#bench_html img {
  width: auto;
  height: 100%;
} 
#activeText {
  position: fixed;
  left: 43%;
  bottom: 95%;
}
#active_html {
  position: fixed;
  bottom: 63%;
  left: 44%;
  width: 12%;
  height: 32%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#active_html img {
  width: auto;
  height: 100%;
}
#prizesText {
  position: fixed;
  left: 2%;
  bottom: 90%;
}
#prizesHidden_html {
  position: fixed;
  bottom: 40%;
  left: 2%;
  width: 7%;
  height: 50%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#prizesHidden_html img {
  width: 50%;
  height: auto;
} 
#lostzoneText {
  position: fixed;
  left: 26%;
  bottom: 93%;
}
#lostzoneDisplay_html {
  position: fixed;
  bottom: 67%;
  left: 20%;
  width: 8%;
  height: 25%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#lostzoneDisplay_html img {
  width: auto;
  height: 100%;
} 
#deck_html {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#deck_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}
#prizes_html {
  display: none;
  position: fixed;
  bottom: 43%;
  left: 2%;
  width: 7%;
  height: 50%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 9999;
}
#prizes_html img {
  display: inline-block;
  width: 50%;
  height: auto;
}
#lostzone_html {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 15%;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#lostzone_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}
#discard_html {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 15%;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#discard_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}