
* {
  user-select: none;
}
.dark-mode {
  background-color: rgb(8, 18, 18) !important;
  color: white;
}
.dark-mode-2 {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}
.dark-mode-3 {
  color: rgb(149, 149, 149); /* Text color */
}
.dark-mode-4 {
  background-color: #141414 !important;
}
body, input, textarea, button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#boardCenterDesign {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
#boardCircle {
  position: absolute;
  width: 16vw;
  height: 16vw;
  bottom: calc(100% - 8vw);
  left: calc(50% - 8vw);
  border-radius: 50%;
  background: rgba(213, 158, 158, 0.14);
  z-index: -2;
}
#innerCircle {
  position: absolute;
  width: 4vw;
  height: 4vw;
  bottom: calc(100% - 2vw);
  left: calc(50% - 2vw);
  border-radius: 50%;
  background: white;
  z-index: -2;
}
.base {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  border-radius: 15px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.1); /* Very faint/transparent background */
}
.self-view {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.opp-view {
  transform: translateX(-50%) scaleX(-1) scaleY(-1);
  top: 0%;
  left: 50%;
}
.highlight {
  box-shadow: 0 0 0 2px rgb(182, 110, 110) !important;
  background-color: rgba(188, 90, 113, 0.3);
}
.selectHighlight {
  box-shadow: 0 0 0 4px rgba(143, 215, 153, 0.864) !important;
}
.highlightBox {
  background-color: rgba(188, 90, 113, 0.3);
}
#hand_html {
  border-top: 3px solid rgba(188, 90, 113, 0.864);  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  overflow-x: auto;
  display: flex;
  z-index: 0;
  align-items: flex-end;
}
#hand_html img {
  box-sizing: border-box;
  width: auto;
  max-height: calc(100% - 3vh);
  margin-bottom: 2vh;
  margin-left: .25vw;
  margin-right: .25vw;
}
#bench_html {
  position: fixed;
	bottom: 35%;
	left: 12%;
	width: 76%;
	height: 25%;
	display: flex;
	justify-content: center; /* Horizontally center-align child elements */
	align-items: flex-end;
	z-index: 0;
}
#bench_html div {
  height: 100%;
	margin-right: 1%;
}
#active_html {
  position: fixed;
	bottom: 65%;
	left: 34%;
	width: 32%;
	height: 28%;
	display: flex;
	justify-content: center; /* Horizontally center-align child elements */
	align-items: flex-end;
	z-index: 0;
}
#active_html div {
  width: auto;
	height: 100%;
}
#prizes_html {
  position: fixed;
  bottom: 36%;
  left: 1%;
  width: 8%;
  height: 43%;
  z-index: 0;
  padding: 5px; /* Add padding */
}
#prizes_html img {
  margin-left: .1vw;
  width: auto;
  max-width: calc(50% - .1vw);
  max-height: 33%;
}
#lostzoneDisplay_html {
  position: fixed;
  bottom: 84%;
  left: 1%;
  width: 8%;
  height: 15%;
  z-index: 0;
  background-color: rgba(233, 198, 233, 0.111); /* Add this for a very light transparent purple background */
  display: flex;
  justify-content: center; 
  align-items:flex-start;
  border-radius: 2rem; /* Rounded corners */
}
#lostzoneDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
}
#lostzoneText {
	position: fixed;
  left: 9.5%;
  bottom: 90%;
}
#deckDisplay_html {
  position: fixed;
  bottom: 66%;
  right: 1%;
  width: 8%;
  height: 25%;
  display: flex;
  justify-content: center; 
  align-items:flex-start;
  z-index: 0;
}
#deckDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
} 
#deckText {
  position: fixed;
  right: 2%;
  bottom: 91%;
}
.self-text {
  font-size: clamp(10px, 4vh, 20px);
}
.opp-text {
  font-size: clamp(10px, 4vh, 20px);
  transform: scaleX(-1) scaleY(-1);
}
#discardText {
  position: fixed;
  right: 2%;
  bottom: 60%;
}
#discardDisplay_html {
  position: fixed;
  bottom: 36%;
  right: 1%;
  width: 8%;
  height: 23%;
  display: flex;
  justify-content: center; 
  align-items:flex-start;
  z-index: 0;
}
#discardDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
} 
#board_html {
  position: fixed;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling */
  align-items: flex-end;
  padding: 20px;
  z-index: -1;
}
#board_html img {
  width: auto; /* Ensure images don't exceed the width of the container */
  height: 50%; /* Maintain aspect ratio */
  margin: .25vw;
}
.selfBoard {
  bottom: 61%;
  left: 66%;
  width: 18%;
  height: 27%;
  border-radius: 20px; /* Rounded corners */
}
.oppBoard {
  bottom: 61%;
  right: 66%;
  width: 18%;
  height: 27%;
  border-radius: 20px; /* Rounded corners */
}
.selfButtonContainer {
  position: fixed;
  height: 6%;
  width: 10%;
  right: 67%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  gap: 5px; /* Set the desired space between items */
}
.oppButtonContainer {
  position: fixed;
  height: 6%;
  width: 10%;
  left: 67%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px; /* Set the desired space between items */
}
#buttonContainer button {
  min-height: 10px;
  max-height: 20px;
  height: 6vh; /* Adjust as needed */
  border-radius: 10px; /* Rounded edges */
  font-size: clamp(6px, 3vh, 15px); /* Adjust font size as needed */
  cursor: pointer;
  background: rgb(231, 228, 228);
  color: rgb(149, 149, 149); /* Text color */
  border: none;
}
#buttonContainer button:hover {
  background-color: rgb(117, 117, 117); /* Natural green background color */
  color: rgb(255, 255, 255); /* Text color */
}
.used {
  background-color: rgba(188, 90, 113, 0.3) !important;
}
.playContainer {
  display: inline-block;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
}
.playContainer img {
  width: auto;
  height: 100%;
}
.fullView {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(169, 169, 169, 0.5); /* Transparent dark grey */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.fullView img {
  height: 24%;
  margin: 0.5%;
}
.self-circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 98, 0);
  color: white;
  text-align: center;
}
.opp-circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 98, 0);
  color: white;
  text-align: center;
  transform: scaleX(-1) scaleY(-1);
}
.opp-tab {
  position: absolute;
  border-radius: 10%;
  background-color: rgba(255, 60, 0, 0.392);
}
#attachedCardPopup_html {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(169, 169, 169, 0.5);
  border: 1px solid #ccc;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 69%;
  height: 75%;
}
#attachedCardPopup_html img {
  height: 33%;
  margin: 0.5%;
}
.header {
  position: absolute;
  top: -3%;
  left: 50%;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  text-align: center;
  border-radius: 15px 15px 0 0;
  color: white; /* White text */
  font-size: clamp(12px, 3vh, 20px);
  background-color:rgba(224, 97, 75, 0.864); 
  border: 2px solid #ff0000;
}
.self-header {
  transform: translate(-50%, -50%);
}
.opp-header {
  transform: translateX(-50%) scaleX(-1) scaleY(-1);
}
#viewCards_html {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(169, 169, 169, 0.5); /* Transparent dark grey */
  border: 1px solid #ccc;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 69%;
  height: 75%;
}
#viewCards_html img {
  height: 33%;
  margin: 0.5%;
}
.self-button-container {
  position: absolute;
  bottom: 0%;
  width: 96%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dddddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  text-align: center;
  padding: 10px;
  border-radius: 15px; /* More rounded corners */
}
.opp-button-container {
  display: none;
}
.action-button {
  margin: 0 5px;
  width: 20%; /* Same width */
  padding: 5px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  border: none; /* Remove border */
  background-color: #4c4d4f; /* Blue background */
  color: white; /* White text */
  cursor: pointer; /* Change cursor on hover */
}
.action-button:hover {
  background-color: #adadad; /* Darker blue on hover */
}
.stack-button-container {
  position: relative;
  width: 96%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dddddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  text-align: center;
  padding: 5px;
  border-radius: 15px; /* More rounded corners */
  margin-bottom: 1%;
}
.stack-container {
  display: none;
  position: fixed;
  background-color: rgba(169, 169, 169, 0.867); /* Transparent dark grey */
  border: 1px solid #ccc;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px 20px 20px;
  width: 85%;
  height: 75%;
  overflow-y: auto;
  z-index: 3;
}
#deck_html img {
  display: inline-block;
  width: 8%;
  height: auto;
  margin: 1px;
}
#lostzone_html img {
  display: inline-block;
  width: 12%;
  height: auto;
  margin: 1px;
}
#discard_html img {
  display: inline-block;
  width: 10%;
  height: auto;
  margin: 1px;
}

#hand_html img,
#bench_html div img,
#lostzoneDisplay_html img,
#deckDisplay_html img,
#discardDisplay_html img,
#board_html img,
.playContainer img,
.fullView img,
#attachedCardPopup_html img,
#viewCards_html img,
#deck_html img,
#lostzone_html img,
#discard_html img,
#prizes_html img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3); /* Adjust the values for your desired shadow effect */
  border-radius: 0.3rem;
}
#hand_html,
#bench_html,
#deckDisplay_html,
#discardDisplay_html,
#active_html,
#prizes_html
{
  border-radius: .5rem; /* Rounded corners */
}