#hand_html {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
  overflow-x: auto;
	border-top: 5px solid rgba(188, 90, 113, 0.864);  
	display: flex; /* Use flexbox to center-align child elements */
	z-index: 0;
	align-items: flex-end; 
}
#hand_html img {
	width: auto;
	height: 95%;
  margin-left: 1px;
  margin-right: 1px;
}
#bench_html {
	position: fixed;
	bottom: 35%;
	left: 12%;
	width: 76%;
	height: 25%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
	display: flex;
	justify-content: center; /* Horizontally center-align child elements */
	align-items: flex-end;
	z-index: 0;
}
#bench_html div {
	height: 100%;
	margin-right: 5px;
}
#active_html {
	position: fixed;
	bottom: 63%;
	left: 38%;
	width: 24%;
	height: 32%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
	display: flex;
	justify-content: center; /* Horizontally center-align child elements */
	align-items: flex-end;
	z-index: 0;
}
#active_html div {
	width: auto;
	height: 100%;
}
#prizes_html {
  position: fixed;
  bottom: 36%;
  left: 1%;
  width: 8%;
  height: 43%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  z-index: 0;
  padding: 5px; /* Add padding */
}
#prizes_html img {
	width: auto;
	max-width: 50%;
	max-height: 33%;
}
#lostzoneDisplay_html {
	position: fixed;
	bottom: 84%;
	left: 1%;
	width: 9%;
	height: 15%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
	z-index: 0;
	background-color: rgba(128, 0, 128, 0.187); /* Add this for a very light transparent purple background */
  display: flex;
  justify-content: center; 
  align-items:flex-start;
}
#lostzoneDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
}
#lostzoneText {
	position: fixed;
  left: 11%;
  bottom: 90%;
	transform: scaleX(-1) scaleY(-1);
  user-select: none;
}
#deckDisplay_html {
  position: fixed;
  bottom: 66%;
  right: 1%;
  width: 8%;
  height: 25%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  display: flex;
  justify-content: center; 
  align-items:flex-start;
  z-index: 0;
}
#deckDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
} 
#deckText {
  position: fixed;
  right: 2%;
  bottom: 91%;
	transform: scaleX(-1) scaleY(-1);
  user-select: none;
}
.text {
  font-size: 4vh; /* Adjust as needed */
}
#discardText {
  position: fixed;
  right: 2%;
  bottom: 60%;
	transform: scaleX(-1) scaleY(-1);
  user-select: none;
}
#discardDisplay_html {
  position: fixed;
  bottom: 36%;
  right: 1%;
  width: 8%;
  height: 23%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  display: flex;
  justify-content: center; 
  align-items:flex-start;
  z-index: 0;
}
#discardDisplay_html img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  left: 0;
} 
#board_html {
  position: fixed;
  bottom: 61%;
  left: 10%;
  width: 23%;
  height: 30%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling */
  align-items: flex-end;
  padding: 20px;
  z-index: -1;
}
#board_html img {
  width: auto; /* Ensure images don't exceed the width of the container */
  height: 70%; /* Maintain aspect ratio */
}
.highlight {
  box-shadow: 0 0 0 2px rgb(182, 110, 110) !important;
}
.selectHighlight {
  box-shadow: 0 0 0 4px rgba(143, 215, 153, 0.864) !important;
}
.highlightBox {
  background-color: rgba(188, 90, 113, 0.3);
}








#deck_html {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    z-index: 500;
    border: 2px solid rgba(188, 90, 90, 0.864); /* Add a thin yellow outline */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
    transform: scaleX(-1) scaleY(-1);
}
#deck_html img {
    display: inline-block;
    width: 10%;
    height: auto;
}
#lostzone_html {
    display: none;
    position: fixed;
    bottom: 30%;
    left: 15%;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    z-index: 500;
    border: 2px solid rgba(188, 90, 90, 0.864); /* Add a thin yellow outline */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
    transform: scaleX(-1) scaleY(-1);
}
#lostzone_html img {
    display: inline-block;
    width: 10%;
    height: auto;
}




#discard_html {
    display: none;
    position: fixed;
    bottom: 30%;
    left: 15%;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    z-index: 500;
    border: 2px solid rgba(188, 90, 90, 0.864); /* Add a thin yellow outline */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
    transform: scaleX(-1) scaleY(-1);
}
#discard_html img {
    display: inline-block;
    width: 10%;
    height: auto;
}
.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 98, 0);
    color: white;
    text-align: center;
    z-index: 1;
}
#attachedCardPopup_html {
    display: none;
    position: fixed;
    width: 40%;
    bottom: 50%;
    left: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
    z-index: 500;
    border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#attachedCardPopup_html img {
    height: 100%;
}
#attachedCardPopup_html::before {
    content: "Opponent moving attached cards...";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) scaleX(-1) scaleY(-1);
    width: 100%;
    background-color: #ddd;
    border: 2px solid rgba(224, 224, 75, 0.864);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    text-align: center;
}
#viewCards_html {
    display: none;
    position: fixed;
    width: 40%;
    bottom: 50%;
    left: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
    z-index: 500;
    border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#viewCards_html img {
    height: 100%;
}
#viewCards_html::before {
    content: "Looking at cards...";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) scaleX(-1) scaleY(-1);
    width: 100%;
    background-color: #ddd;
    border: 2px solid rgba(224, 224, 75, 0.864);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
    text-align: center;
}
.playContainer {
    display: inline-block;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
  }
  .playContainer img {
    width: auto;
    height: 100%;
  }
  .fullView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, -1);
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .fullView img {
    height: 25%;
  }
