#hand_html {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  overflow-y: auto;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  display: flex; /* Use flexbox to center-align child elements */
  justify-content: center; /* Horizontally center-align child elements */
  z-index: 0;
}
#hand_html img {
  width: auto;
  height: 100%;
}
#deckText {
  position: fixed;
  left: 88%;
  bottom: 91%;
}
#deckDisplay_html {
  position: fixed;
  bottom: 65%;
  left: 88%;
  width: 8%;
  height: 25%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#deckDisplay_html img {
  width: auto;
  height: 100%;
  position: relative;
  left: 0;
} 
#discardText {
  position: fixed;
  left: 88%;
  bottom: 56%;
}
#discardDisplay_html {
  position: fixed;
  bottom: 30%;
  left: 88%;
  width: 8%;
  height: 25%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 0;
}
#discardDisplay_html img {
  width: auto;
  height: 100%;
  position: relative;
  left: 0;
} 
#bench_html {
  position: fixed;
  bottom: 30%;
  left: 20%;
  width: 60%;
  height: 25%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 0;
}
#bench_html div {
  width: auto;
  height: 100%;
  margin-right: 5px;
} 
#active_html {
  position: fixed;
  bottom: 63%;
  left: 44%;
  width: 12%;
  height: 32%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 0;
}
#active_html div {
  width: auto;
  height: 100%;
}
#prizes_html {
  position: fixed;
  bottom: 60%;
  left: 2%;
  width: 9%;
  height: 35%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 0;
}
#prizes_html img {
  width: 50%;
  height: auto;
} 
#lostzoneText {
  position: fixed;
  left: 26%;
  bottom: 93%;
}
#lostzoneDisplay_html {
  position: fixed;
  bottom: 85%;
  left: 20%;
  width: 4%;
  height: 12%;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
  z-index: 0;
}
#lostzoneDisplay_html img {
  width: auto;
  height: 100%;
  position: relative;
  left: 0;
} 
#deck_html {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#deck_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}
#lostzone_html {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 15%;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#lostzone_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}
#discard_html {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 15%;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#discard_html img {
  display: inline-block;
  width: 10%;
  height: auto;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 98, 0);
  color: white;
  text-align: center;
  z-index: 1;
}
.highlight {
  box-shadow: 0 0 0 2px lightblue !important;
}
#board_html {
  position: fixed;
  bottom: 63%;
  left: 60%;
  width: 24%;
  height: 20%;
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, rgb(87, 93, 128), #ffffff); 
  z-index: 0;
}
#board_html img {
  width: auto;
  height: 100%;
}
#attachedCardPopup_html {
  display: none;
  position: fixed;
  width: 40%;
  bottom: 50%;
  left: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#attachedCardPopup_html img {
  height: 100%;
}
#attachedCardPopup_html::before {
  content: "Move attached cards";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #ddd;
  border: 2px solid rgba(224, 224, 75, 0.864);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  text-align: center;
}
#viewCards_html {
  display: none;
  position: fixed;
  width: 40%;
  bottom: 50%;
  left: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border: 2px solid rgba(224, 224, 75, 0.864); /* Add a thin yellow outline */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  background: linear-gradient(to bottom, #ddd, #ffffff); /* Slightly darker grey background */
}
#viewCards_html img {
  height: 100%;
}
#viewCards_html::before {
  content: "Looking at cards...";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #ddd;
  border: 2px solid rgba(224, 224, 75, 0.864);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadowing */
  text-align: center;
}
.playContainer {
  display: inline-block;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
}
.playContainer img {
  width: auto;
  height: 100%;
}
.fullView {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.fullView img {
  height: 25%;
}