* {
  user-select: none;
}
body, input, textarea, button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
  background: rgb(250, 250, 250);
  background-size: 100% 100%;
  margin: 0;
  height: 100vh;
  overflow: none;
}
.dark-mode-1 {
  background-color: rgb(8, 18, 18) !important;
  color: white;
}
.dark-mode-2 {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}
.dark-mode-3 {
  color: rgb(149, 149, 149);
}
.dark-mode-4 {
  background-color: #141414 !important;
  color: white;
}
.dark-mode-5 {
  background-color: rgb(59 59 59 / 87%) !important;
}
.dark-mode-6 {
  background-color: rgba(21, 21, 21, 0.87) !important;
}
#keybindModal {
  display: none;
  position: fixed;
  width: 70%;
  height: 95%;
  top: 50%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  padding: 0 15px 15px 15px;
  background-color: rgba(200, 200, 200, 0.873);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 4%;
}
.keybind-section-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.keybind-section {
  flex: 1;
}
.keybind-column {
  margin-right: 10px;
  padding: 5px;
}
h1 {
  font-size: 2vh;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  font-size: 1.7vh;
}
.keybind-column ul ul {
  margin-left: 10px;
}
.keybind-column ul ul li {
  margin-bottom: 1px;
  margin-top: 0;
  font-size: 1.7vh;
}
.keybind-column ul li {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}
.self {
  position: fixed;
  border: none;
  bottom: 0;
  width: 75.5%;
  height: 50%;
}
.opp {
  position: fixed;
  border: none;
  bottom: 50%;
  width: 75.5%;
  height: 50%;
  transform: scaleX(-1) scaleY(-1);
}
#stadium {
  position: fixed;
  bottom: 42%;
  left: 11%;
  width: 6%;
  height: 16%;
  display: flex;
	justify-content: center;
  border-radius: 15px;
}
#stadium img {
  max-width: 100%;
  max-height: 100%;
  height: fit-content;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 0.375rem;
  cursor: pointer;
}
.tab {
  position: absolute;
  border-radius: 10%;
  background-color: rgba(59, 173, 84, 0.708);
}
.outline {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.highlight {
  box-shadow: 0 0 0 4px rgb(122, 185, 133) !important;
  background-color: rgba(133, 197, 155, 0.3);
}
#selfResizer {
  position: fixed;
  left: 75.5%;
  bottom: 49%;
  cursor: row-resize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1vw;
  height: 2%;
  border-radius: 50%;
  transform: translateY(50%);
}
#oppResizer {
  position: fixed;
  left: 75.5%;
  bottom: 51%;
  cursor: row-resize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1vw;
  height: 2%;
  border-radius: 50%;
  transform: translateY(50%);
}
.self-color {
  background-color: rgba(90, 110, 188, 0.864);
}
.opp-color {
  background-color: rgba(188, 90, 113, 0.864);  
}
.neutral-color {
  background-color: rgba(112, 112, 112, 0.864);  
}
#boardButtonContainer {
  position: fixed;
  height: 6%;
  left: 52%;
  bottom: 47%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#boardButtonContainer button {
  border-radius: 10px; 
  font-size: 2vh; 
  cursor: pointer;
  background: rgb(231, 228, 228);
  color: rgb(149, 149, 149); 
  border: none;
}
#boardButtonContainer button:hover {
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
}
#topButtonContainer {
  position: fixed;
  right: 0;
  bottom: 95vh;
  height: 5vh;
  width: 24%;
  display: flex;
  overflow: hidden; 
  background: rgb(145, 145, 145);
  align-items: flex-end; 
}
#topButtonContainer button {
  padding: 1vh;
  width: 30%; 
  font-size: 1.75vh;
  cursor: pointer;
  border: none;
}
.selected-page {
  background: rgb(231, 228, 228);
  border-radius: 10px 10px 0 0;
}
.not-selected-page {
  background: rgb(145, 145, 145);
  color: white;
}
#topButtonContainer button:not(.selected-page):hover {
  color: rgb(50, 50, 50);
}
.sidebox {
  background: rgb(231, 228, 228);
  position: fixed;
  right: 0;
  top: 5vh;
  width: 24%;
  height: 95vh;
  padding: 0.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#chatbox {
  width: 100%;
  height: 85%;
  background: white;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px 10px 0 0; 
}
#tutorialButton {
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: none;
  padding: 0 6px 2px 6px;
  color: white;
  background: #a89850;
}
#tutorialButton:hover {
  background: #8c7e46;
}
#discord {
  font-size: small;
  width: 100%;
  text-align: center;
}
#videoContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#videoContainer iframe {
  position: absolute;
  left: 10%;
  width: 55.5%;
  height: 60%;
  bottom: 50%;
  transform: translateY(50%);
}
#changelog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 76%;
  height: 100%;
  background: rgba(222, 221, 221, 0.852);
  z-index: 1000;
  overflow: auto;
  padding: 60px;
  box-sizing: border-box;
}
#line {
  background: rgb(230, 230, 230);
  width: 100%;
  height: .1vh;
  margin-top: .5vh;
}
.shift-font {
  font-family: monospace;
}
.sidebox-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.sidebox-button-container button {
  padding: 7px;
  width: 19%;
  border-radius: 10px;
  font-size: 1.75vh;
  cursor: pointer;
  color: white;
  border: none;
}
.sidebox-button-container button.self-color:hover {
  background-color: rgba(116, 129, 183, 0.864);
}
.sidebox-button-container button.opp-color:hover {
  background-color: rgba(189, 112, 130, 0.864);  
}
.sidebox-button-container button.neutral-color:hover {
  background-color: rgba(150, 144, 144, 0.864);  
}
.chat-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  gap: .5vw;
  box-sizing: border-box;
  margin-top: .5vh;
  margin-bottom: .5vh;
}
.chat-button-container button {
  flex: 1;
  padding: 7px;
  font-size: 2vh;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: .5vw;
}
.chat-button-container button.self-color:hover {
  background-color: rgba(116, 129, 183, 0.864);
}
.chat-button-container button.opp-color:hover {
  background-color: rgba(189, 112, 130, 0.864);  
}
.chat-button-container button.neutral-color:hover {
  background-color: rgba(150, 144, 144, 0.864);  
}
#optionsContextMenu {
  position: absolute;
  display: none;
  border: 1px solid #676767;
  padding: 2px;
  border-radius: 5px;
  right: 0.5%;
  color: white;
  background-color: #595959;
  font-size: 1.75vh;
}
#optionsContextMenu div {
  cursor: pointer;
  padding: 3px;
}
#optionsContextMenu div:hover {
  background-color: #757575;
}
#attackButton, #p2AttackButton {
  border-radius: 0 .5vw .5vw 0;
}
#FREEBUTTON, #p2FREEBUTTON {
  border-radius: .5vw 0 0 .5vw;
}
#messageInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  border: none;
}
#bottomP1ButtonContainer {
  width: 100%;
}
#p2Box {
  display: none;
}
#p2ExplanationBox {
  width: 100%;
  background: white;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px 10px;
}
#lobby {
  width: 100%;
  margin-top: 5%;
}
#nameInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  font-size: 2vh;
}
#roomId {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#roomIdInput {
  padding: 1vh;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 2vh;
}
#copyButton {
  margin: 10px;
  padding: .5vh;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 3vh;
  display: flex;
  filter: invert(50%);
}
#copyButton img {
  height: 4vh;
}
.copied {
  background-color: #b7d9b8 !important;
  filter: none !important;
}
#generateIdButton {
  padding: 1vh;
  background: #a89850;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 2vh;
}
#generateIdButton:hover {
  background: #8c7e46;
}
#joinRoomButton {
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 2.5vh;
}
#joinRoomButton:hover {
  background: #78766e;
}
#connectedRoom {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#roomHeader {
  width: 100%;
  height: 2.5vh;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  margin-bottom: 8px;
}
#roomHeaderText {
  margin-right: 5px;
  background-color: #9dd1bd;
  border: 2px solid #61cea4;
  border-radius: 10px;
  width: 98%;
  font-size: 2vh;
  padding-top: .1vh;
  padding-bottom: .1vh;
  text-align: center;
}
#roomHeaderCopyButton {
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  font-size: 2.5vh;
  display: flex;
  filter: invert(50%);
}
#roomHeaderCopyButton img{
  height: 3vh;
}
#p2Chatbox {
  background: white;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px 10px 0 0;
}
#p2ChatboxButtonContainer {
  width: 100%;
}
#p2MessageInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  border: none;
}
#p2BottomButtonContainer {
  width: 100%;
}
#deckImport {
  display: none;
}
#deckImportExplanationBox {
  width: 100%;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px 10px;
  margin-bottom: 10px;
  height: fit-content;
}
#importButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3%;
  padding-top: 1vh;
  align-items: center;
}
#importButtonContainer button {
  width: 50%;
  border-radius: .5rem .5rem 0 0;
  padding: .5vh;
  border: none;
  font-size: 2vh;
  background-color: rgba(171, 171, 171, 0.864);
}
#decklistTable {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 76%;
  height: 100%;
  background: rgba(222, 221, 221, 0.852);
  z-index: 1000;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  font-size: 1.75vh;
}
#decklistTable td {
  padding: 0.3vh 2vw;
}
.main-select {
  font-weight: bold;
  background-color: rgba(90, 110, 188, 0.864) !important;
  color: white;
  border: .25vw solid rgba(40, 57, 124, 0.864) !important;
}
.alt-select {
  font-weight: bold;
  color: white;
  background-color: rgba(188, 90, 113, 0.864) !important;
  border: .25vw solid rgba(153, 58, 81, 0.864) !important;
}
#mainDeckImportInput, #altDeckImportInput {
  height: 100%;
  width: 100%;
  padding: 2vh;
  border-radius: 0 0 10px 10px;
  font-size: 1.75vh;
  box-sizing: border-box;
  resize: none;
  outline: none;
}
#mainDeckImportInput {
  border: .2vw solid rgba(40, 57, 124, 0.864);
  display: inline-block;
}
#altDeckImportInput {
  display: none;
  border: .2vw solid rgba(153, 58, 81, 0.864) !important;
}
#importBottom {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
#importButton, #confirmButton {
  background-color: #7bb9a2;
  color: white;
}
#importButton {
  cursor: pointer;
  width: 25%;
  border-radius: .5rem;
  padding: 1vh;
  border: none;
  font-weight: bold;
}
#importButton:hover, #confirmButton:hover {
  background-color: #95c6b4;
}
#cancelButton, #confirmButton, #saveButton {
  cursor: pointer;
  display: none;
  width: 20%;
  border-radius: .5rem;
  padding: .7vh;
  border: none;
  color: white;
  font-weight: bold;
}
#cancelButton {
  background-color: #b9857b;
}
#cancelButton:hover {
  background-color: #b97d7b;
}
#saveButton {
  background-color: #8c8c8c;
}
#saveButton:hover {
  background-color: #aeaeae;
}
.custom-file-upload {
  padding: 3px 6px;
  cursor: pointer;
  background-color: #757474;
  color: white;
  border: none;
  border-radius: .5rem;
  display: block;
  margin: 1vh;
  font-size: 1.75vh;
}
#randomButton {
  position: absolute;
  right: 5%;
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
  background: rgb(185, 160, 103);
  border-radius: .5rem;
}
#randomButton:hover {
  background: rgb(202, 177, 117);
}
#decklistsButton {
  margin-left: .3vw;
  background-color: transparent;
  border: none;
  color: white;
  font-size: x-large;
  cursor: pointer;
  background: rgb(161, 161, 161);
  border-radius: .5rem;
  box-sizing: border-box;
  padding-bottom: .8vh;
}
#decklistsButton:hover {
  background: rgb(197, 197, 197);
}
#successText, #failedText, #loadingText, #invalidText {
  display: none;
}
#settings {
  display: none;
}
#settingsToggles {
  background: white;
  width: 100%;
  height: min-content;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
}
#settings label {
  position: relative;
  cursor: pointer;
}
#darkModeCheckbox, #showZonesCheckbox, #keybindReminder {
  margin-top: 1vh;
}
#keybindReminder {
  text-align: center;
  width: 100%;
  color: grey;
}
#twitterDescription {
  position: absolute;
  bottom: 2%;
  left: 5%;
  display: block;
  max-width: 90%;
  font-weight: bold;
}
#twitterHandle {
  font-weight: normal;
  margin-top: 1vh;
  display: flex;
  align-items: center;
}
#twitterHandle img {
  margin-right: .5vw;
  height: 2vh;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.card-context-menu button {
  display: block;
}
.card-context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
}
.card-context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-context-menu ul li[id$="Header"] {
  padding: 4px;
  cursor: default;
  font-weight: bold;
  background-color: #f0f0f0;
}
.card-context-menu > ul > li {
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
}
.card-context-menu > ul > li > ul > li{
  padding: 0px 16px;
}
.card-context-menu:not(.dark-mode-2) > ul > li:hover,
.card-context-menu:not(.dark-mode-2) .card-sub-menu li:hover {
  background-color: #f0f0f0;
}
.card-context-menu.dark-mode-2 > ul > li:hover,
.card-context-menu.dark-mode-2 .card-sub-menu li:hover {
  background-color: #4f4f4f;
}
.card-context-menu .card-sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1001;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 120px;
}
.card-context-menu > ul > li:hover > .card-sub-menu {
  display: block;
}
.card-context-menu ul li#moveButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #525252;
}
.self-text, .announcement, .opp-text, .self-message, .opp-message {
  word-wrap: break-word;
  display: block;
  font-size: 1.75vh;
  margin: 0.5vh 0 0 0;
  border-radius: 10px;
  padding: 0.25vh 1vh;
  color: black;
}
.announcement {
  background-color: rgb(205, 203, 203);
  text-align: center;
}
.self-message {
  background-color: rgba(142, 155, 209, 0.864);
  text-align: left;
  width: fit-content;
}
.opp-message {
  background-color: rgba(187, 120, 136, 0.864);  
  text-align: left;
  width: fit-content;
}
.self-text {
  background-color: rgba(211, 219, 250, 0.864);
  text-align: left;
  width: fit-content;
}
.opp-text {
  background-color: rgba(247, 217, 223, 0.864);  
  text-align: left;
  width: fit-content;
}
.decklists-context-menu {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 2;
  height: fit-content;
}
.decklists-context-menu-item {
  padding: .3vh 1vw;
  cursor: pointer;
  font-size: small;
}
.decklists-context-menu-sub-menu {
  font-weight: normal;
  display: none;
  position: absolute;
  background-color: #c1c1c1;
  left: 99%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  top: 0;
  height: 100%;
  width: 112%;
  color: #141414;
}
.decklist-highlight {
  background-color: #f0f0f0;
  font-weight: bold;
}
.custom-popup {
  position: fixed;
  top: 50%;
  left: 37.75%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #424242;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 9999;
  border-radius: 5px;
}
.popup-content {
  text-align: center;
}
.popup-button {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.popup-button:hover {
  background-color: #555;
}